[Unit]
Description=Ethereum go client
After=syslog.target network.target

[Service]
User=intern
Group=intern
EnvironmentFile=/usr/lib/systemd/system/geth.env
Type=simple

ExecStart=/usr/local/bin/geth \
        --verbosity 3 \
        --datadir ${WORK_DIR}/node-1 \
        --networkid ${NET_ID} \
        --unlock ${ADDR_1} --password ${WORK_DIR}/node-1/password.txt \
        --mine --miner.etherbase=${ADDR_1} \
        --nodekey ${WORK_DIR}/node-1/boot.key \
        --nat extip:${IP}

KillMode=process
KillSignal=SIGINT
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target